.home {
  min-height: 100vh;
  display: flex;
  position: relative;

  .home-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    filter: brightness(0.9);
    &:hover {
      filter: brightness(1)
    }
    .home-msg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 300px;
      position: relative;
      .home-title { 
        font-size: 90px;
        cursor: pointer;
        padding-bottom: 40px;
      }
    }
  }

  .home-area.stay {
    background: #F4AC45;
  }
  .home-area.go {
    background: #FBFFFE;
  }
  .home-title.go {
    color: #F4AC45;
  }
  .home-title.stay {
    color: #FBFFFE;
  }
  .anxious-msg {
    position: absolute;
    bottom: 20%;
  }
}


